#edit-profile {
    border: 1px solid #ccc;
    padding: 1.5em 2em;
    max-width: 50%;
    margin: 2em auto;
    text-align: center;
    flex-wrap: nowrap;

}

.subtitle {
    color: #ccc
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}